#settings-img{
  max-width: 150px;
}

.bg-color-ongo{
  background-color: #6FC9ED;
}
.nav-brand-img{
  width: 5rem;
  }
.icon-width{
  width: 1rem;
  }
.icon-nav{
  width: 10%;
  border-radius: 5px;
  display: block;
  margin: auto;
  border-style: solid;
  border-color: #6FC9ED;
  border-width: 1px;
}
